<!DOCTYPE html>
<html>
<head>
</head>
{%load static%}
<body style="background-image:url('{% static 'image/wall.jpg' %}');background-size: 100%">
<table style="width: 50%;" class="center">
        <colgroup>
        <col span="3" style="background-color: lightblue">
        <col span="4" style="background-color: red">
        </colgroup>
        <tr>
            <th>Roll NO</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Attendance</th>
        </tr>
        <tr>
        {% for i in contact %}
            <td>TKM19MCA005</td>
            <td> {{i.name}}</td>
            <td>{{i.number}} </td>
            <td>Absent</td>
        </tr>
        {% endfor %}
        </table>
</body>
</html>

